.BackgroundStyle {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.Tree-img {
    position: absolute;
    left: 568px;
    top: 270px;
    z-index: 0;
}

.Ball-img {
    position: absolute;
    left: 800px;
    top: 370px;
    z-index: 1;
}