/* Write the CSS for you answer here */

/* Define the viewport or container */
#christmastreediv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px; /* container is of the same size as the background image to stop resizing */
    height: 541px; /* container is of the same size as the background image to stop resizing */
    transform: translate(-50%, -50%); /*2D Transforms - Move all X-mass tree images to the center of the viewport*/

}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}

#christmastree {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 700px;
    z-index: 0;
}

#bauble1 {
    position: absolute;
    top: 230px;
    left: 500px;
    z-index: 1;
}

#bauble2 {
    position: absolute;
    top: 320px;
    left: 450px;
    z-index: 1;
}

#bauble3 {
    position: absolute;
    top: 240px;
    left: 160px;
    z-index: 1;
}

#bauble4 {
    position: absolute;
    top: 400px;
    left: 70px;
    z-index: 1;
}

#bauble5 {
    position: absolute;
    top: 270px;
    left: 300px;
    z-index: -1; /* Pink bauble behind the tree */
}

#bauble6 {
    position: absolute;
    top: 310px;
    left: 600px;
    z-index: 1;
}